{
  "prettier.enable": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.formatOnSave": true,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "prettier.disableLanguages": [
    "typescript",
    "typescriptreact",
    "javascript",
    "javascriptreact"
  ],
  "prettier.enableDiagnostics": false
}
